/* You can add global styles to this file, and also import other style files */
.section-header {
  padding: 2em;
  border: 1px solid orange;
  margin-bottom: 2em;
}

.section-title {
  font-size: 2em;
  font-weight: bolder;
}
